<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>WebServer</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<!-- servlet -->
	<servlet>
		<servlet-name>Servlet1</servlet-name>
		<servlet-class>Servlet.Base.Test01Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Servlet1</servlet-name>
		<url-pattern>/servlet1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HTTPServlet</servlet-name>
		<servlet-class>Servlet.Base.Test02HTTPServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HTTPServlet</servlet-name>
		<url-pattern>/servlet2</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InitConfig</servlet-name>
		<servlet-class>Servlet.Base.ServletConfig.Test01InitConfig</servlet-class>
		<init-param>
			<param-name>name</param-name>
			<param-value>value1</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitConfig</servlet-name>
		<url-pattern>/initConfig</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GetSet</servlet-name>
		<servlet-class>Servlet.From.Test01GetMessage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetSet</servlet-name>
		<url-pattern>/get</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Post</servlet-name>
		<servlet-class>Servlet.From.Test02PostMessage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Post</servlet-name>
		<url-pattern>/post</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddCookie</servlet-name>
		<servlet-class>Servlet.Cache.Cookie.Test01AddCookie</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddCookie</servlet-name>
		<url-pattern>/addCookie</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteCookie</servlet-name>
		<servlet-class>Servlet.Cache.Cookie.Test02DeleteCookie</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteCookie</servlet-name>
		<url-pattern>/deleteCookie</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddSession</servlet-name>
		<servlet-class>Servlet.Cache.Session.Test01AddSession</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddSession</servlet-name>
		<url-pattern>/addSession</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteSession</servlet-name>
		<servlet-class>Servlet.Cache.Session.Test02DeleteSession</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteSession</servlet-name>
		<url-pattern>/deleteSession</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteAllSession</servlet-name>
		<servlet-class>Servlet.Cache.Session.Test03DeleteAllSession</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteAllSession</servlet-name>
		<url-pattern>/deleteAllSession</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServletContext</servlet-name>
		<servlet-class>Servlet.Cache.ServletContext.Test01ServletContext</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletContext</servlet-name>
		<url-pattern>/servletContext</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InitContext</servlet-name>
		<servlet-class>Servlet.Cache.ServletContext.Test02InitContext</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitContext</servlet-name>
		<url-pattern>/initContext</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>name</param-name>
		<param-value>value2</param-value>
	</context-param>


	<!-- Filter -->
	<filter>
		<filter-name>Filter1</filter-name>
		<filter-class>Servlet.Filter.Test01Filter1</filter-class>
	</filter>
	<filter>
		<filter-name>Filter2</filter-name>
		<filter-class>Servlet.Filter.Test02Filter2</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Filter2</filter-name>
		<url-pattern>/filter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Filter1</filter-name>
		<url-pattern>/filter</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>FilterLife</filter-name>
		<filter-class>Servlet.Filter.Test03FilterLife</filter-class>
		<init-param>
			<param-name>life</param-name>
			<param-value>Filterlifer</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>FilterLife</filter-name>
		<url-pattern>/filterLife</url-pattern>
	</filter-mapping>

	<!-- session设置 -->
	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>

</web-app>